<footer class="footer">
    <div class="footer-content">
        <div class="contact-info">
            <p>Contact (355) 694567871</p>
            <p>info@crystaldental.com</p>
            <p>Mon-Fri: 8AM-6PM | Sat: 9AM-2PM</p>
        </div>

        <div class="social-icons">
            <a href="https://facebook.com" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="http://instagram.com" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://x.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        </div>

        <div class="footer-bottom">
            <p>©
                <script>document.write(new Date().getFullYear())</script>
                Crystal Dental
            </p>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
